@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@tailwind utilities;

@theme {
  --color-lightHover:#efdaf7;
  --color-darkHover: #8a50b5 ;
  --color-darkTheme: #11001f;

  --font-Ovo: 'Ovo', 'serif';
  --font-Outfit: 'Outfit', 'sans-serif';
 

  --shadow-black:4px 4px 0 #000;
  --shadow-white:4px 4px 0 #fff;
  
  --grid-template-columns-auto:repeat(auto-fit,minmax(200px, 1fr));
  --darkMode:'selector' ;

  
  
}
/* Add these Swiper styles */
.swiper-pagination-bullet {
  background-color: #6b7280;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #3b82f6;
  opacity: 1;
  transform: scale(1.1);
}

.dark .swiper-pagination-bullet {
  background-color: #d1d5db;
  opacity: 0.8;
}

.dark .swiper-pagination-bullet-active {
  background-color: #60a5fa;
  opacity: 1;


}