@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@tailwind utilities;

@theme {
  --color-lightHover:#efdaf7;
  --color-darkHover: #8a50b5 ;
  --color-darkTheme: #11001f;

  --font-Ovo: 'Ovo', 'serif';
  --font-Outfit: 'Outfit', 'sans-serif';
 

  --shadow-black:4px 4px 0 #000;
  --shadow-white:4px 4px 0 #fff;
  
  --grid-template-columns-auto:repeat(auto-fit,minmax(200px, 1fr));
  --darkMode:'selector' ;
  
}